<!DOCTYPE HTML>
<html  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Страница регистрации как предприниматель</title>
</head>
<body>
<div>
    <h3>Ваш текущий аккаунт</h3>
    <p>Аккаунт: [[${user.username}]]</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <h1>Страница регистрации как предприниматель</h1>
    <div th:unless="${businessman}">
        <form th:action="@{/businessman/create}" th:object="${new_businessman}" method="post">
            <!--        <input type="file" accept=".png, .jpg, .jpeg" th:field="*{passport_scan}" placeholder="Скан паспорта"/>-->
            <input type="text" th:field="*{bank_requisites}" placeholder="Банковские реквизиты"/>
            <input type="text" th:field="*{info}" placeholder="Дополнительная информация о предпринимателе"/>
            <input type="checkbox" id="accept_terms"/><label for="accept_terms">Пользователь ознакомился и принимает <a href="#">правила соглашения о ведении предпринимательской деятельности</a></label>
            <button type="submit">Сохранить</button>
        </form>
    </div>
    <div th:if="${businessman}">
        <h2>Вы уже зарегистрированы как предприниматель</h2>
        <p th:unless="${businessman.activity_allowed}">Ваша заявка на рассмотрении</p>
    </div>
</div>
<a th:href="@{/}">Вернуться на главную</a>
</body>
</html>