<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Карта сайта</title>
</head>
<body>
<div>
    <h3>Ваш текущий аккаунт</h3>
    <p>Аккаунт: [[${user}]]</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <h1>Карта сайта</h1>
    <a th:href="@{/projects}">Проекты</a>
    <a th:href="@{/investor/create}">Заполнить заявку на инвестора</a>
    <a th:href="@{/businessman/create}">Заполнить заявку на бизнесмена</a>
    <a th:href="@{/businessman/about/1}">О первом зарегистрированном бизнесмене</a>
</div>
</body>
</html>