<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${project.name}]]</title>
</head>
<body>
<div th:if="${user == null}">
    <a href="/login">Войти</a>
</div>
<div th:if="${user != null}">
    <p>Ваш текущий аккаунт</p>
    <p>Аккаунт: [[${user.username}]]</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div th:if="${project}">
    <h3> Проект: [[${project.name}]]</h3>
    <div th:if="${investor}">
        <a th:href="@{/investment/create/{project_id}(project_id=${project.id})}">Инвестировать в проект</a>
        <a href="/investment/my">Мои инвестиции</a>
    </div>
    <p>Всего собрано средств:            [[${project.funds_raised}]]</p>
    <p>Из них инвестировано автором:     [[${project.funds_by_author}]]</p>
    <p>Всего необходимо собрать средств: [[${project.funds_required}]]</p>
    <p>Описание:</p>
    <p>[[${project.description}]]</p>
</div>
<div th:unless="${project}">
    Такого проекта не существует
</div>
<div th:type="hidden"></div>

<hr>
<div>
    <a th:href="@{/businessman/about/{id}(id=${project.author.id})}">Об авторе проекта</a>
</div>
<div th:if="${author}">
    <p>Создать новость:</p>
    <form th:action="@{/projects/news/add(projectId=${project.id})}" th:object="${new_news}" method="post">

        <p><textarea name="content" th:field="*{content}"></textarea></p>
        <button type="submit">Добавить</button>
    </form>
</div>
<hr>

<th:block th:each="news : ${news_list}">
    <div style="border:2px solid black;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;">

        <p>От: [[${news.author}]]</p>
        <p>[[${news.publishedOn}]]</p>
        <p>[[${news.content}]]</p>
    </div>
</th:block>
</div>

<a th:href="@{/}">Вернуться на главную</a>
</body>
</html>